@media print {
    * {
        color:#000;
        text-shadow:none;
        background:transparent;
        -webkit-box-shadow:none;
        box-shadow:none;
    }
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.text-center {
    text-align:center;
}

.container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

.row {
    margin-right:-15px;
    margin-left:-15px;
}

@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float:left;
    }    
    .col-sm-12 {
        width:100%;
    }
}

@media (min-width:992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float:left;
    }
    .col-md-12 {
        width:100%;
    }
    .col-md-8 {
        width:66%;
    }
}

.container:after,.container-fluid:before,.modal-footer:after {
    display:table;
    content:" ";
}

.container:after {
    clear:both;
}